html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e1e1e1 !important;
}

@font-face {
  font-family: 'Mistral';
  font-style: normal;
  font-weight: normal;
  src: local('Mistral'), url('../fonts//MISTRAL.woff') format('woff');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.register{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5b5b5b;
}

.image-bg{
  width: 100% !important;
  position: absolute;
  height: 100%;
  object-fit: cover !important;
  background-repeat: no-repeat;
  z-index: -1;
  overflow-y: hidden;
}

.layout-register{
  width: 70%;
  height: 560px;
  background-color: #fff;
  border-radius: 25px;
  text-align: center;
}

.layout-register .enjoy{
  font-family:'Mistral';
  color: #FFFFFF;
  position: fixed;
  margin: 25px 15px;
  font-size: 30px;
}

.layout-register .left-image{
  object-fit: cover;
  object-position: 10% 0;
  width: 100%;
  height: 560px;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
}

.layout-register .left-image-signin{
  object-fit: cover;
  object-position: 50% 0;
  width: 100%;
  height: 560px;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
}

.form-input{
  margin-top: 30px;
  padding-left: 90px !important;
  padding-right: 90px !important;
  /* padding: 20px !important; */
}

.form-input h2{
  font-size: 18px;
}

.form-input p{
  font-size: 12px;
  margin-bottom: 5px !important;
}

.signup-social-media .btn{
  margin: 0 5px !important;
}

.signup-google{
  font-size: 12px !important;
  padding: 5px 50px !important;
  border: none !important;
  border-radius: 8px !important;
  background: transparent linear-gradient(270deg, #5AA5E6 0%, #1DB0BB 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
}

.signup-google .g{
    display: inline;
    font: Bold 14px Arial;
    margin-right: 10px;
}

.signup-fb{
  padding: unset !important;
  margin: unset !important;
  border-radius: 50% !important;
  background-color: unset !important;
  border: unset !important;
}

.signup-tw{
  padding: unset !important;
  margin: unset !important;
  border-radius: 50% !important;
  background-color: unset !important;
  border: unset !important;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: #C8C5C5;
  margin-top: 10px;
}
.separator::before, .separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #D6D7D7;
}
.separator::before {
  margin-right: .70rem;
}
.separator::after {
  margin-left: .70rem;
}

.form-input form {
  text-align: left;
  font: Bold 12px Arial;
  color: #5B5B5B;
}

.form-input form input {
  border-radius: 10px !important;
  border: none;
  background-color: #f1f1f1;
  height: 28px;
}

.form-input form #privacy {
  margin-top: unset !important;
  font-size: 8px;
  font-weight: normal;
  color: #848282;
}

.form-input form .privacy {
  margin-top: 3px !important;
  font-size: 8px;
  font-weight: normal;
  color: #848282;
}

.form-input form .remember-me{
  margin-top: 13px !important;
  font-size: 8px;
  font-weight: normal;
  color: #848282;
}

.layout-register-mobile{
  display: none;
}

/* mobile 450px */
@media (max-width: 450px){
  html{
    height: 100%;
  }
  .register {
    background-color: #fff;
  }
  .layout-register-mobile{
    display: initial;
  }

  .layout-register, .image-bg{
    display: none;
  }

  .layout-register-mobile .left-image{
    width: 100%;
    height: 450px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  .layout-register-mobile .left-image-signin{
    width: 100%;
    height: 250px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    object-fit: cover;
    object-position: 10% 0;
  }

  .form-input{
    background-color: #fff;
    margin-top: 0;
    padding: 20px 35px !important;
    text-align: center;
  }

  .form-input h2{
    font-size: 22px;
  }
  
  .form-input p{
    font-size: 14px;
    margin-bottom: 5px !important;
  }

  .signup-google{
    font-size: 14px !important;
  }

  .form-input form {
    font: Bold 13px Arial;
  }

  .form-input form #privacy {
    font-size: 12px;
  }
  
  .form-input form .privacy {
    font-size: 12px
  }

  .form-input form .remember-me {
    font-size: 12px
  }
}

/* HEADER */
.header {
  padding: 12px 0;
  background: transparent linear-gradient(235deg, #2CAAFF 0%, #4873E8 100%) 0% 0% no-repeat padding-box;
}

.header .logo {
  /* padding: 12px 0; */
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header .logo img{
  /* border-radius: 50%; */
  width: 55px;
  margin-right: 18px;
}

.header .logo a {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-family:'Mistral';
  font-size: 25px;
}

.header .advanced-search {
  /* display: inline-block; */
  width: 100%;
  /* margin: 0; */
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header .advanced-search .category-btn {
	max-width: 30%;
	float: left;
	background: transparent;
	border: none;
	font-size: 16px;
  color: white;
  transform: translateY(-8%);

}

.header .advanced-search .input-group {
  padding-left: 80px;
	/* max-width: 70%; */
  height: 100%;
  position: absolute;
	/* right: -3px; */
	/* border: 1px solid #F1F1F1;
	background: #F1F1F1;
	padding: 12px 16px 12px;
  cursor: pointer; */
}

.header .advanced-search .input-group input::placeholder{
	color: #d1d1d1;
}

.header .advanced-search .input-group input {
  /* border-radius: 25px; */
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
	width: 100%;
	height: 100%;
	border: none;
	font-size: 16px;
	color: #d1d1d1;
	padding-left: 20px;
}

.header .advanced-search .input-group button {
	font-size: 14px;
	color: #ffffff;
	/* position: absolute; */
	/* right: -3px;s */
	border: 1px solid #F1F1F1;
	background: #F1F1F1;
	padding: 0 18px;
  /* cursor: pointer; */
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.header .nav-right {
	/* padding: 10px 0; */
}

.header .nav-right li {
	list-style: none;
	display: inline-block;
	font-size: 20px;
	margin: 17px ;
}

.header .nav-right li.heart-icon a {
	color: #252525;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-55%);
  transform: translateY(-55%);
}

.header .nav-right li.heart-icon a span {
	position: absolute;
	right: -5px;
	top: 2px;
	height: 15px;
	width: 15px;
	background: #e7ab3c;
	color: #ffffff;
	border-radius: 50%;
	font-size: 11px;
	font-weight: 700;
	text-align: center;
	line-height: 15px;
}

.header .nav-right li.shop-icon a{
  margin-left: 10px;
  border-left: 2px solid white;
  padding-left: 20px;
}

.header .nav-right li.profile-icon a {
  color: #252525;
  position: absolute;
  margin-left: 50px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-decoration: none;
}

.header .nav-right li.profile-icon a span {
	font-size: 16px;
  vertical-align: middle;
  color: white;
  margin-left: 10px;
}

.header .nav-right li.cart-icon:hover .cart-hover {
	opacity: 1;
	visibility: visible;
	top: 60px;
}

.header .nav-right li.cart-icon a {
	/* color: #252525;
	position: relative;
  display: inline-block; */
  color: #252525;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-55%);
  transform: translateY(-55%);
}

.header .nav-right li.cart-icon a span {
	position: absolute;
	right: -8px;
	top: 2px;
	height: 15px;
	width: 15px;
	background: #e7ab3c;
	color: #ffffff;
	border-radius: 50%;
	font-size: 11px;
	font-weight: 700;
	text-align: center;
	line-height: 15px;
}

.header .nav-right li.cart-icon .cart-hover {
	position: absolute;
	right: 70px;
	top: 100px;
	width: 350px;
	background: #ffffff;
	z-index: 99;
	text-align: left;
	padding: 30px;
	opacity: 0;
	visibility: hidden;
	-webkit-box-shadow: 0 13px 32px rgba(51, 51, 51, 0.1);
	box-shadow: 0 13px 32px rgba(51, 51, 51, 0.1);
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.header .nav-right li.cart-icon .cart-hover .select-items table {
	width: 100%;
}

.header .nav-right li.cart-icon .cart-hover .select-items table tr td {
	padding-bottom: 20px;
}

.header .nav-right li.cart-icon .cart-hover .select-items table tr td.si-pic img {
	border: 1px solid #ebebeb;
}

.header .nav-right li.cart-icon .cart-hover .select-items table tr td.si-text {
	padding-left: 18px;
}

.header .nav-right li.cart-icon .cart-hover .select-items table tr td.si-text .product-selected p {
	color: #e7ab3c;
	line-height: 30px;
	margin-bottom: 7px;
}

.header .nav-right li.cart-icon .cart-hover .select-items table tr td.si-text .product-selected h6 {
	color: #232530;
}

.header .nav-right li.cart-icon .cart-hover .select-items table tr td.si-close {
	color: #252525;
	font-size: 16px;
	cursor: pointer;
}

.header .nav-right li.cart-icon .cart-hover .select-total {
	overflow: hidden;
	border-top: 1px solid #e5e5e5;
	padding-top: 26px;
	margin-bottom: 30px;
}

.header .nav-right li.cart-icon .cart-hover .select-total span {
	font-size: 14px;
	color: #e7ab3c;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	float: left;
}

.header .nav-right li.cart-icon .cart-hover .select-total h5 {
	color: #e7ab3c;
	float: right;
}

.header .nav-right li.cart-icon .cart-hover .select-button .view-card {
	font-size: 12px;
	letter-spacing: 2px;
	display: block;
	text-align: center;
	background: #191919;
	color: #ffffff;
	padding: 15px 30px 12px;
	margin-bottom: 10px;
}

.header .nav-right li.cart-icon .cart-hover .select-button .checkout-btn {
	font-size: 12px;
	letter-spacing: 2px;
	display: block;
	text-align: center;
	color: #ffffff;
	padding: 15px 30px 12px;
}

.header .nav-right li.cart-price {
	font-size: 18px;
	font-weight: 700;
	color: #252525;
}

/* Content Home */

.content-home .banner .row{
  margin-right: 0;
  margin-left: 0;
}

.content-home .banner span{
  /* vertical-align: middle;
  position: relative;
  top: 25%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
}

.content-home .banner .welcome{
  color: white;
  font-size: 45px;
  font-weight: 700;
  /* letter-spacing: 0.2rem; */
}

.content-home .banner p{
  margin-bottom: 0 !important;
}

.content-home .banner .welcome-detail{
  color: white; 
}

/* Content Service */

.content-home .service{
  background: transparent linear-gradient(208deg, #2CAAFF 0%, #164080 100%) 0% 0% no-repeat padding-box;
}

.content-home .service .service-item{
  margin: 30px 0;
  color: white;
}

.content-home .service .service-item img{
  /* border-radius: 50%; */
  /* background-color: white; */
  /* margin: 0 0 10px 0; */
  width: 110px;
  padding: 10px;
}

.content-home .service .service-item .bg-white{
  width: 150px;
  border: 5px solid transparent;
  margin: auto;
  border-radius: 50%;
  padding: 10px;
}

.content-home .service .service-item .bg-white:hover{
  border: 5px solid #2CAAFF;
  cursor: pointer;
}

.content-home .service .service-item .title{
  font-size: 25px;
  font-weight: bold;
}

.content-home .service .service-item p{
  font-size: 13px;
  padding: 0 10px;
}